* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #bef6b7;
}
header {
  text-align: center;
  background-image: url(https://images.unsplash.com/photo-1574629810360-7efbbe195018?w=1200);
  width: 100%;
  height: 400px;
  position: relative;
  display: inline-block;
}
h1 {
  padding-top: 300px;
}
h1:hover {
  color: #0000ff;
}
.title {
  text-align: center;
  width: 100%;
  height: 50px;
  background-color: #1a472a;
  position: fixed;
  top: 0;
}
a {
  color: white;
  text-decoration: dashed;
  position: relative;
  top: 15px;
  margin: 20px;
  transition: all 0.3s ease;
}
a:hover {
  background-color: #2d8659;
  padding: 10px;
  border-radius: 10px;
}
.body_v1 {
  width: 70%;
  height: 800px;
  background-image: url(https://images.unsplash.com/photo-1431324155629-1a6deb1dec8d?w=1200);
  margin: 40px auto 0;
  border-radius: 20px;
}
.img_v1 {
  width: 30%;
  height: 500px;
  margin: 130px 370px;
  border-radius: 20px;
  transition: all 0.5s linear;
  display: inline;
}
.img_v1:hover {
  width: 30%;
  height: 500px;
  margin: 130px 370px 0px;
  border-radius: 20px;
  transform: scale(1.1);
}
.text_title {
  text-align: center;
  color: white;
  font-size: 40px;
  margin: 300px 0 0;
  position: relative;
  top: -450px;
}
.text_title_v2 {
  text-align: center;
  color: white;
  font-size: 20px;
  margin: 300px 0 0;
  position: relative;
  top: -700px;
}
.gioiThieu {
  background-color: white;
  width: 70%;
  height: auto;
  margin: 10px auto;
  border-radius: 5px;
}
.noiDung_h2 {
  padding: 20px 40px 0px;
  color: #1a472a;
}
h2 {
  border-right: 4px solid #2d8659;
  margin: 10px 20px;
}
.noiDung_v1 {
  padding: 0px 20px;
  color: #7a8e47;
}
.luuY_v1 {
  background-color: #fff3cd;
  margin: 20px;
  border-radius: 5px;
  padding: 15px;
  border-left: 7px solid #ffc107;
  position: relative;
  bottom: 20px;
  color: #7a8e47;
}
.doiHinh {
  padding: 40px;
  background-color: white;
  width: 70%;
  height: auto;
  margin: 10px auto;
  border-radius: 5px;
  color: #1a472a;
}
.table_v1 {
  width: 100%;
  padding: 20px;
}
tr:hover {
  background-color: #f5f5f5;
}
th {
  background-color: #1a472a;
  padding: 10px;
  color: white;
}
td {
  padding: 15px;
  color: #7a8e47;
  border-bottom: 1px solid gray;
}
.lichThiDau {
  padding: 40px;
  background-color: white;
  width: 70%;
  height: auto;
  margin: 10px auto;
  border-radius: 5px;
  color: #1a472a;
}
li {
  color: #1a472a;
  border-bottom: 1px solid gray;
  padding: 10px;
}
.thanhTich {
  padding: 40px;
  background-color: white;
  width: 70%;
  height: auto;
  margin: 10px auto;
  border-radius: 5px;
  color: #1a472a;
}
.table_v2 {
  width: 100%;
}
.total {
  background-color: #f5f5f5;
  text-align: center;
}
.luuY_v2 {
  background-color: #fff3cd;
  padding: 15px;
  border-radius: 10px;
}
.formDangKy {
  padding: 40px;
  background-color: white;
  width: 70%;
  height: auto;
  margin: 10px auto;
  border-radius: 5px;
  color: #1a472a;
}
.formThongTin {
  color: white;
  background-color: #a1b2ff;
  padding: 15px;
}
input {
  height: 40px;
  width: 100%;
  border-radius: 5px;
  margin: 10px;
}
select {
  width: 100%;
  height: 30px;
  border-radius: 10px;
}
.checkbox {
  width: 2%;
}
textarea {
  width: 100%;
  height: 100px;
  border-radius: 10px;
}
button {
  width: 20%;
  height: 50px;
  border-radius: 10px;
  background-color: #1a472a;
  transition: all 0.5s linear;
}
button:hover {
  width: 20%;
  height: 50px;
  border-radius: 10px;
  background-color: #2d8659;
}
footer {
  text-align: center;
  background-color: #1a472a;
  padding: 30px;
  color: white;
}
.info {
  position: static;
  color: greenyellow;
}
