* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.text {
  background-color: red;
  width: 200px;
  height: 200px;
  border: 5px solid blue;
  padding: 10px 20px 15px 30px;
  margin-bottom: 30px;
}
.text_v2 {
  background-color: pink;
  width: 200px;
  height: 200px;
}
.text_v3 {
  background-color: pink;
  width: 200px;
  height: 200px;
  border: 5px solid blue;
  padding: 10px 20px 15px 30px;
  border-radius: 100px;
}
.demo {
  width: 100px;
  height: 100px;
  background-color: pink;
  margin-bottom: 20px;
  display: inline-block;
  margin: 20px;
}
.hidden {
  opacity: 0.5;
}
body {
  height: 10000px;
  background-image: url(https://www.bing.com/th/id/OIP.IBtKWBXbPrIvyMz4VHKP0QHaEo?w=276&h=211&c=8&rs=1&qlt=90&o=6&dpr=1.3&pid=3.1&rm=2);
}
.ongNoi {
  border: 5px solid blueviolet;
  width: 600px;
  height: 600px;
  margin: 30px;
  position: relative;
}
.cha {
  border: 5px solid black;
  width: 400px;
  height: 400px;
  margin: 30px;
  /* position: relative; */
  background-color: aqua;
}
.con_1 {
  border: 2px solid red;
  width: 100%;
  height: 50px;
  position: fixed;
  background-color: red;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.btn {
  padding: 15px;
  margin-left: 50px;
  border-radius: 10px;
  transition: all 1s ease;
}
.btn:hover {
  background-color: yellow;
  /* transform: translate(20px) scale(1.5); */
  transform: rotate(720deg);
}
